.menu-bg-container{
  background-color: rgb(5, 5, 5);
  min-height: 100vh;
  background-size: cover;
  padding-left: 170px;
  padding-right: 170px;
  padding-top: 30px;
  padding-bottom: 100px;
}
@media screen and (max-width:768px) {
  .menu-bg-container{
    padding-left: 20px;
    padding-right: 20px;
  }
}
.party-head{
  color: #ffffff;
  font-size: 21px;
  font-family: sans-serif;
}
@media screen and (max-width:768px) {
  .party-head{
    font-size: 17px;
  }
}
.saved-btn{
  color: #e1dfdf;
  font-size: 18px;
  border: 1px solid #d0cece;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 20px;
}
.saved-btn:hover{
  color: orange;
  border: 1px solid orange;
}
@media screen and (max-width:768px) {
  .saved-btn{
    padding: 8px 8px;
    font-size: 14px;
  }
}
.super-tag{
  padding: 2px 5px;
  background-color: rgba(246, 161, 3, 0.8);
  border-radius: 30px;
}
.party-logout{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.welcome-para{
  color: #cbcaca;
  font-size: 15px;
  padding-bottom: 40px;
  font-family: sans-serif;
}
@media screen and (max-width:768px){
  .welcome-para{
    margin-top: 20px;
  }
}

.filter-btn{
  border: none;
  font-size: 15px;
  background-color: rgb(255, 136, 0);
  padding: 8px 20px;
  color: #d0cece;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
 
}
.leaf-color{
  color: green;
  margin-right: 10px;
}
.radio-color{
  color: red;
  margin-right: 10px;
}
.all-color{
  border: 1px solid #d0cece;
  font-size: 15px;
  background-color: transparent;
  padding: 8px 20px;
  color: #d0cece;
  margin-right: 10px;
  border-radius: 20px;
}
.category-para{
  color: #8d8b8b;
  font-size: 15px;
  font-family: sans-serif;
  margin-bottom: 10px;
}
.diet-para{
  color: #8d8b8b;
  font-size: 15px;
  font-family: sans-serif;
  margin-bottom: 10px;
  margin-top: 30px;
}
.filter-div{
  background-color: rgb(26, 26, 26);
  padding: 20px;
  border: 1px solid #2d2d2d;
  border-radius: 20px;
  margin-bottom: 20px;
}
.count-para{
  color: #585858;
  font-family: sans-serif;
  font-size: 15px;
  padding-bottom: 20px;
}
.item-image{
  width: 370px;
  height: 170px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media screen and (max-width:768px) {
  .item-image{
    width: 340px;
  }
}
.main-head{
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 145, 0);
  font-family: sans-serif;
  /* margin-top: 1px; */
  margin-bottom: 10px;
  text-transform: uppercase;
}
.card-div{
  background-color: #1c1c1c;
  width: 370px;
  height: 380px;
  height: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #424242;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width:768px) {
  .card-div{
    width: 340px;
  }
}
.card-div:hover{
  border: 1px solid orange;
}
.flex-card-div{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 992px){
  .flex-card-div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main-para-head{
  font-size: 20px;
  color: #b4b4b4;
  font-family: sans-serif;
  font-family: sans-serif;
  margin-bottom: 8px;
}
.main-para{
  color: #909090;
  font-size: 14px;
  font-family: sans-serif;
}
.no-para{
  color: #565656;
  font-size: 14px;
  font-family: sans-serif;
  padding-top: 10px;
}
.main-head-div{
  padding: 20px;
}
.non-veg-tag{
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  padding:5px 8px;
  border-radius: 10px;
  /* text-align: center; */
}
.non-para{
  text-align: end;
  padding-top: 20px;
  padding-right: 20px;
}
.link{
  text-decoration: none;
}
.not-found-color{
  color: #ffffff;
  font-family: sans-serif;
}
.search-input{
  background-color: black;
  font-size: 15px;
  border: 1px solid #6e6e6e82;
  padding: 8px 10px;
  margin-top: 20px;
  width: 90%;
  border-radius: 10px;
  color: #ffffff;
}
@media screen and (max-width:768px){
  .search-input{
    width: 65%;
  }
}
.search-btn{
  color: #ffffff;
  background-color: #fc7602b5;
  font-family: sans-serif;
  padding: 8px 20px;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-left: 20px;
}
@media screen and (max-width:768px){
  .search-btn{
    margin-left: 10px;
  }
}